language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
jobs:
  allow_failures:
    - python: "nightly"
install:
  - pip install -U setuptools
  - pip install -e .
  - pip install -e .[dev]
script:
  - nosetests
  - python setup.py sdist && pip install dist/ovh-*.tar.gz && cd /tmp && python -c 'import ovh; ovh.Client("ovh-eu").get("/auth/time", _need_auth=False)'
after_success:
    coveralls
sudo: false
