language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - pip install .
  - pip install -r requirements-dev.txt
script: nosetests
after_success:
    coveralls
sudo: false

