Source: python-ovh
Section: python
Priority: optional
Maintainer: Romain Beuque <api@ml.ovh.net>
Build-Depends: debhelper (>= 9), dh-python, python3-setuptools, python3-all
Standards-Version: 3.9.5
X-Python3-Version: >= 3.4

Package: python3-ovh
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3, python3-requests
Description: Wrapper around OVH's APIs (Python 3)
 Lightweight wrapper around OVH's APIs. Handles all the hard work
 including credential creation and requests signing.
 .
 This package provides Python 3 module bindings only.
