name: Python package

on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Check black formatting
        run: black --check .
      - name: Check isort formatting
        run: isort --check .
      - name: Lint with flake8
        run: flake8
      - name: Test with pytest
        run: pytest --junitxml=junit/test-results.xml --cov=ovh --cov-report=xml --cov-report=html
